#grid-container{
    display: grid;
    grid-template-rows: 150px auto 200px;
    grid-template-columns: auto 300px;
    grid-template-areas: 
    "menu menu"
    "conteudo anuncio"
    "rodape rodape";
    
}
#grid-container div{
   display: flex;
}

#grid-container nav{
    grid-area: menu;
}
#grid-container main{
    grid-area: conteudo;
}
#grid-container aside{
    grid-area: anuncio;
}
#grid-container footer{
    grid-area: rodape;
}
nav{
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
}
.anuncio{
    display: flex;
    background-color: blue;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}
aside{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
main{
    background-color: aquamarine;
}
footer{
    background-color: blueviolet;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
